// ***********************************
// AXIT styles
// ***********************************
.black-bg
  background black
  width 100%
  height 72px;
  letter-spacing: 2px
.logo
    color white;
    text-align left
    letter-spacing: 1.5px
    span
      color $orange
      font-weight 300
      font-size 30px
      

// navigation
nav
    margin-top 22px;
    float right
nav a
    color white
    font-size 14px
    font-family: $open-sans
    margin-right 38px

.slider
    width 100%
    height 641px;
    background #fff url('../images/bg-img1.jpg') top no-repeat

.slider header
    width 500px;
.slider header h1
    margin-top 98px
    margin-bottom 0
    font-size 87px
    font-family $open-sans
    text-align left
.slider header span
    font-size 94px

header .text
    font-size 36px;
    color white
    margin-top 12px
    line-height 36px
    margin-bottom 0

.divider
    width 65px
    height 2px
    margin-top 28px
    margin-bottom 28px
.bg-orange
    background orange
    
.simple-text
    width 500px
    font-size 16px
    color white
    font-weight 300;
    margin-bottom 0
    
// button
.download-btn
    font-size 15px
    padding 10px 20px
    border 2px solid white
    display inline-block
    margin-top 40px
.get-started-button
    color white
    height 50px
    font-size 20px
    background #ff9b51
    display block
    text-align center
    line-height 50px
    border-radius 0 0 5px 5px
    margin-top 4px
.orange-button
    color white
    background #ff8b38
    padding 10px 20px
    border-radius 2px
// trial
.trial
    width 360px
    height 362px
    border-radius 5px
    background white
    margin 140px auto 0px auto
    text-align center

.trial h3
    display block
    border-radius 5px 5px 0px 0px
    height 50px
    background $grey-light
    font-size 20px
    font-family $open-sans
    padding-top 15px
    margin 0
.trial span
    color $orange
.get-started
    width 287px;
    margin 0 auto;
.get-started input
    padding-left 15px
    height 35px
    margin-top 37px
    font-size 14px
    color #282828
    width 287px
    border-top none
    border-right none
    border-left none
    border-bottom 1px solid $grey-light
    &:last-child
        margin-bottom 42px
        
.white
    width 100%
    background white
.shadow-bottom
    border-bottom 1px solid $grey-light
    background white
    box-shadow 0 3px 3px 3px $grey-light
   
.social-media
    height 100px 
.social-text
    width 395px
.social-text h4
.social-text p
    text-align left
.social-text h4
    font-size 20px
    color black
    text-transform none
.social-text p
    margin 0
    color #86878b
    
.social-links
    padding-top 19px
    font-size 48px
    a
        color #ccc
.social-links a
    margin-right 30px
.grey-light
    background $grey-light
    
.tabs-btn:first-child
    border-radius 2px 2px 0 0
    border-bottom 1px solid $grey-light
.tabs-btn:last-child
    border-radius 0 0 2px 2px
    border-top 1px solid $grey-light
.tabs-btn
    width 110px
    height 110px
    line-height 110px
    text-align center
    font-weight 600
    font-size 15px
    color white
    background #333
    cursor pointer
.btn-active
    background #ff8b38
    color white
.tabs h5
    font-size 20px
    font-weight 600
.tabs p
      color #86878b
.tabs-switcher
    padding-top 140px
    padding-bottom 140px
    
.sub-list-section h3
    font-size 20px
    font-weight 600
    

.orange-dash
    height 2px
    width 64px
    background #ff8b38

.sublist h3
    text-align left
    text-transform initial

.asd
    sprite($s-orange-icon)
    float left
.asd p

.text-block h5
    text-align left
    text-transform initial
    font-size 14px
    font-family $open-sans

 .box
     width 350px
 .box img
    display block
    margin 0 auto
.box h3
    font-size 36px
.why-awesome, 
.pricing
    h5
        font-size 20px
        font-weight 600
        text-transform initial
    p
        font-size 14px
        line-height 20px
        color #86878b
        text-align center
.pricing .orange-dash 
.why-awesome .orange-dash
    margin 0 auto
    
.pricing h5
    background #292929
    display block
    color white
    height 59px
    border-bottom 2px solid white
    line-height 59px
.pricing-plan p:first-child
    font-size 94px
.pricing-plan .dollar
    font-size 35px
    color white
.pricing-plan p:first-child
    font-size 94px
