// ***********************************
// AXIT styles
// ***********************************
.black-bg
  background black
  width 100%
  height 72px;
  letter-spacing: 2px
.logo
    color white;
    text-align left
    letter-spacing: 1.5px
    span
      color $orange
      font-weight 300
      font-size 30px
      

// navigation
nav
    margin-top 22px;
    float right
nav a
    color white
    font-size 14px
    font-family: $open-sans
    margin-right 38px

.slider
    width 100%
    height 641px;
    background #fff url('../images/bg-img1.jpg') top no-repeat

.slider header
    width 500px;
.slider header h1
    margin-top 98px
    margin-bottom 0
    font-size 87px
    font-family $open-sans
    text-align left
.slider header span
    font-size 94px

header .text
    font-size 36px;
    color white
    margin-top 12px
    line-height 36px
    margin-bottom 0

.divider
    width 65px
    height 2px
    margin-top 28px
    margin-bottom 28px
.bg-orange
    background orange
    
.simple-text
    width 500px
    font-size 16px
    color white
    font-weight 300;
    margin-bottom 0
    
// button
.download-btn
    font-size 15px
    padding 10px 20px
    border 2px solid white
    display inline-block
    font-weight 600
    color white
.slider .download-btn
    margin-top 40px
.stylish .download-btn
    display table
    margin 0 auto
.get-started-button
    color white
    height 50px
    font-size 20px
    background #ff9b51
    display block
    text-align center
    line-height 50px
    border-radius 0 0 5px 5px
    margin-top 4px
.orange-button
    color white
    background #ff8b38
    padding 10px 20px
    border-radius 2px
// trial
.trial
    width 360px
    height 362px
    border-radius 5px
    background white
    margin 140px auto 0px auto
    text-align center

.trial h3
    display block
    border-radius 5px 5px 0px 0px
    height 50px
    background $grey-light
    font-size 20px
    font-family $open-sans
    padding-top 15px
    margin 0
.trial span
    color $orange
.get-started
    width 287px;
    margin 0 auto;
.get-started input
    padding-left 15px
    height 35px
    margin-top 37px
    font-size 14px
    color #282828
    width 287px
    border-top none
    border-right none
    border-left none
    border-bottom 1px solid $grey-light
    &:last-child
        margin-bottom 42px
        
.white
    width 100%
    background white
.shadow-bottom
    border-bottom 1px solid $grey-light
    background white
    box-shadow 0 3px 3px 3px $grey-light
   
.social-media
    // height 100px 
.social-text
    width 395px
.social-text h4
.social-text p
    text-align left
.social-text h4
    font-size 20px
    color black
    text-transform none
.social-text p
    margin 0
    color #86878b
    
.social-links
    padding-top 19px
    font-size 48px
    a
        color #ccc
.social-links a
    margin-right 30px
.grey-light
    background $grey-light
    
.tabs-btn:first-child
    border-radius 2px 2px 0 0
    border-bottom 1px solid $grey-light
.tabs-btn:last-child
    border-radius 0 0 2px 2px
    border-top 1px solid $grey-light
.tabs-btn
    width 110px
    height 110px
    line-height 110px
    text-align center
    font-weight 600
    font-size 15px
    color white
    background #333
    cursor pointer
.btn-active
    background #ff8b38
    color white
.tabs h5
    font-size 20px
    font-weight 600
.tabs p
      color #86878b
.tabs-switcher
    padding-top 140px
    padding-bottom 140px
    
.sub-list-section h3
    font-size 20px
    font-weight 600
    
.white-dash
.orange-dash
    height 2px
    width 64px
.orange-dash
    background #ff8b38
.white-dash
    background white

.sublist h3
    text-align left
    text-transform initial

.asd
    sprite($s-orange-icon)
    float left
.asd p

.text-block h5
    text-align left
    text-transform initial
    font-size 14px
    font-family $open-sans

 .box
     width 350px
 .box img
    display block
    margin 0 auto
.box h3
    font-size 36px
// .why-awesome, 
// .pricing,
// .feedbacks
//     h5
//         font-size 20px
//         font-weight 600
//         text-transform initial
//     p
//         font-size 14px
//         line-height 20px
//         color #86878b
//         text-align center
.why-awesome
.pricing
.feedbacks
.stylish
.contact-us
    h3
        margin 107px 0 27px 0
        padding 0
    p
        margin 27px 0 30px 0
        text-align center
.pricing .orange-dash 
.why-awesome .orange-dash
.feedbacks  .orange-dash
.contact-us  .orange-dash
    margin 0 auto
    
.pricing h5
    background #292929
    display block
    color white
    height 59px
    border-bottom 2px solid white
    line-height 59px
    margin 0
    padding 0
    
.pricing-plan p
    display block
    margin 0
    padding 0
.pricing-cost
    background #292929
    text-align center
    // font-size 94px
    color white
.pricing-cost p
    font-style italic
    margin 0
    padding-bottom 20px
.pricing-cost .dollar
    font-size 35px
    font-family $font-raleway
    font-weight bold

.pricing-dollars
    text-align center
    background #292929
    border-bottom 5px solid orange
.pricing-dollars p
    font-size 14px
    font-weight 400
    font-style italic
.pricing-cost .basic
    font-family $font-raleway
    font-size 94px
    color white
    font-weight 800
.specification
    color #86878b
    text-align center
    background white
.specification div
    border-bottom 1px solid #f5f5f5
    padding 16px 0 16px 0
.orange-most-popular
    min-height 5px
    background #ff8b38
    text-align center
    
.orange-most-popular p
    color white
    font-weight bold
    padding 16px 0
    margin 0
.pricing .row .col-xs-4:nth-child(odd)
    margin-top 47px



// feeedbacks
.feedback-block
    width 273px
.feedback
    padding 22px 12px
    background #f5f5f5
    border-radius 3px;
    position relative
    color #86878b
    font-family $font-open-sans
    font-style italic
    margin-bottom 27px;
.feedback > .arrow
    position absolute
    bottom -20px
    left 27px
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #f5f5f5;


.avatar
    width 70px
    height 70px;
    float left
.avatar_text
    margin-left 15px
    float left
.avatar_text h6
    font-size 20px
    text-transform none
    font-family $font-open-sans
    font-weight 600
.avatar_text p
    font-family $font-open-sans
    font-size 14px
    color #86878b
.avatar img
    display block
    float left
    border-radius 50%
    width 70px
    height 70px
    background #f09


.stylish
    background url('../images/img_style.jpg') center center
    height 320px
.stylish .white-dash
    margin 0 auto
.stylish .download-btn
    text-align center
    

.stylish h3
.stylish p
    font-family $font-open-sans
    color white
    text-align center
.contact-us input
.contact-us textarea
    width 100%
    border none
    border-bottom 1px solid #d6d6d6
.contact-us input
    height 60px
.contact-us textarea
    height 180px

input.button-sm
    width 144px
    height 47px
    line-height 47px
    background #ff9b51
    display block
    margin 0 auto
    border-radius 3px
    box-shadow 0px 0px 5px 3px #f3f3f3
    color white
    font-family $font-open-sans
    font-weight 600
    margin-top 40px
    clear both


footer
    margin-top 75px
    background black
    height 100px
    text-align center
    color white
footer .social a
    margin-top 30px
    font-size 24px
    color white
    margin-right 30px
    
footer .copyright
    margin-top 15px
    font-size 12px
